html, body, .modal-content {
	/*background-color: #FFF8E8;*/
	/*background-color: #E7E7E7;*/
    background-color: #CCD5AE;
	font-family: 'Rubik', sans-serif;
}

.btn-primary {
    background-color: #6A994E;
}

nav, footer {
    font-weight: 500;
}

th > a {
    color: #FFFFFF;
}

.container {
    /*background: #f2f2f5;*/
    background: #FEFAE0;
    /*background: #E9EDC9;*/
    /*background: ##F2F5F3;*/
    /*background: #FFFFF7;*/
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.table-responsive table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

.icon {
filter: invert(99%) sepia(39%) saturate(2433%) hue-rotate(17deg) brightness(89%) contrast(73%);
margin-right: 10px;
}
.row {
    margin-bottom: 125px;
}