{% extends "base.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block title %}Tools{% endblock %}

{% block content %}
{#<link rel="stylesheet" href="{% static 'website/buttons.css' %}">#}
<link rel="stylesheet" href="{% static 'website/background.css' %}">

<div class="container">

<div class="row">
<div class="col-2"></div>
<div class="col-8 text-center">
{#    <br>#}
{#    <div class="buttonContainer">#}
{#      <button class="btn btn-primary mb-3 launch-modal" data-toggle="modal" data-target="#confirmCleanAuthorsModal">#}
{#        <div class="textBox">#}
{#          Clean author fields#}
{#        </div>#}
{#      </button>#}
{#    </div>#}
{#    <br>#}
{#    <br>#}
    <br><br>
    <form method="post" action="/settings" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button button_type="submit" content="Update" %}
    </form>
    <br><br>
    <div class="buttonContainer">
      <button class="btn btn-primary mb-3 launch-modal" data-toggle="modal" data-target="#confirmGenerateISBNBarcodesModal">
        <div class="textBox">
          Regenerate book and user barcodes
        </div>
      </button>
    </div>
</div>
</div>
</div>


<!-- Clean Authors Modal -->
<div class="modal fade" id="confirmCleanAuthorsModal" tabindex="-1" role="dialog" aria-labelledby="confirmCleanAuthorsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmCleanAuthorsModalLabel">Clean author fields?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form method="post" action="/settings/clean-author-fields" class="form">
              {% csrf_token %}
              <div class="modal-footer">
              {% bootstrap_button button_type="submit" content="Confirm" %}
              </div>
          </form>
      </div>
    </div>
  </div>
</div>
<!-- Generate ISBN Barcodes Modal -->
<div class="modal fade" id="confirmGenerateISBNBarcodesModal" tabindex="-1" role="dialog" aria-labelledby="confirmGenerateISBNBarcodesModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmGenerateISBNBarcodesModalLabel">Generate all Barcodes?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form method="post" action="/settings/generate-barcodes" class="form">
              {% csrf_token %}
              <div class="modal-footer">
              {% bootstrap_button button_type="submit" content="Confirm" %}
              </div>
          </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}

{% endblock %}